<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
  <title>Burgers Infinity!</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">

        <img id="burgerImg" src="/assets/img/burger.png" alt="Burger" align="middle"><br/>
        <button class="btn waves-effect waves-light animated infinite flash delay-2s" type="submit" id="changeBg" name="hamB">Change Background</button>
      </div>
    </div>
  </div>

  {{{ body }}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/script/script.js" type="application/javascript"></script>
</body>
</html>