#burgerImg{
  width: 160px;
  height: 126px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url("https://i.giphy.com/media/LEDow0BfZVlOE/giphy.webp");
  background-attachment: fixed;
}

main {
  flex: 1 0 auto;
}

#add {
  margin-bottom: 50px;
  border: 5px inset #9e2312;
  padding: 15px;
  background: rgba(203, 203, 218, 0.8);
}

.border {
  border: 5px inset #9e2312;
  min-height: 250px !important;
  background: rgba(203, 203, 218, 0.8);
}

.page-footer {
  background-color: rgb(136, 11, 7);
}

li{
  font-size: 25px;
}

.colHeight {
  height: 25px;
}

.header {
  border: 5px inset #9e2312;
  background: rgba(203, 203, 218, 0.8);
  text-align: center;

}

.inputLabel {
  color: black;
  font-size: 25px;
}

#changeBg {
  animation-duration: 5s;
  margin-top: 25px;
}